<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img src="assets/images/teamwork.svg" style="height: 20px;">
  <a class="navbar-brand navbar-heading" routerLink="">Tapp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup" [ngbCollapse]="isCollapsed">
    <div class="navbar-nav navbar-links">
      <a class="nav-item nav-link active" routerLink="">Home
        <span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link" routerLink="team">Team</a>
      <a class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" ngbDropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Links
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="links/general">General Links</a>
          <a class="dropdown-item" routerLink="links/dev">Dev Links</a>
        </div>
      </a>
      <a class="nav-item nav-link" routerLink="leave">Leave</a>
      <a class="nav-item nav-link" routerLink="board">Board</a>
    </div>
  </div>
  <div class="form-inline">
    <button class="btn btn-outline-tapp my-2 my-sm-0" type="submit" (click)="changeTeam()"> <i class="fa fa-edit"></i> {{selectedTeam}}</button>
    <button class="btn btn-outline-tapp my-2 my-sm-0 ml-3" type="submit" (click)="login()">{{getCurrentUser()}}</button>       
  </div>
</nav>