<div class="container mt-5" *ngIf="dataLoaded">
  <div class="jumbotron">
    <div class="row mb-4">
      <div class="col-md-2">
        <h4>
          <b>Dev Links</b>
        </h4>
      </div>
      <div class="col-md-1">
        <button class="btn btn-success" (click)="addLink()">
          <i class="fa fa-plus"></i> Add </button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-danger" (click)="deleteLink()">
          <i class="fa fa-trash"></i> Delete</button>
      </div>
      <div class="col-md-5 ml-5">
        <label *ngIf="alertVisible" class="alert alert-success">{{alertText}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <ul class="list-group">
          <a *ngFor="let application of applications" class="list-group-item list-group-item-action" (click)="selectApplication(application)"
            [ngClass]="{active: isApplicationSelected(application)}">
            <b>{{application.name}}</b>
          </a>
        </ul>
      </div>
      <div class="col-10">
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link env-select" (click)="selectEnv('Prod')" [ngClass]="{active: isEnvSelected('Prod')}">Prod</a>
              </li>
              <li class="nav-item">
                <a class="nav-link env-select" (click)="selectEnv('UAT')" [ngClass]="{active: isEnvSelected('UAT')}">UAT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link env-select" (click)="selectEnv('SIT')" [ngClass]="{active: isEnvSelected('SIT')}">SIT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link env-select" (click)="selectEnv('Dev')" [ngClass]="{active: isEnvSelected('Dev')}">Dev</a>
              </li>
              <li class="nav-item">
                <a class="nav-link env-select" (click)="selectEnv('Tools')" [ngClass]="{active: isEnvSelected('Tools')}">Tools</a>
              </li>
            </ul>
          </div>
          <div class="card-body mr-auto">
            <h4 class="card-title" style="padding-bottom: 10px;">
              <b>{{selectedApplication.name}} - {{selectedEnv}}</b>
            </h4>
            <ul>
              <li *ngFor="let link of links | devLinks : selectedApplication.name : selectedEnv">
                <p class="card-text link-style">
                  <a (click)="openExternalLink(link.url)" target="_blank">{{link.name}}</a>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>