<div class="jumbotron mt-3 mb-2 ml-5 mr-5">
  <div class="row mb-4 justify-content-end">
    <div class="col-md-2">
      <button class="btn btn-success btn-block" (click)="recordLeave()">
        <h6>
          <i class="fa fa-plane"></i> Record Leave</h6>
      </button>
    </div>
    <div class="col-md-2 ml-3">
      <button class="btn btn-danger btn-block" (click)="deleteLeave()">
        <h6>
          <i class="fa fa-ban"></i> Delete Leave</h6>
      </button>
    </div>
  </div>
  <hr style="background-color:#e65c00;">
  <div class="row text-center mt-4 mb-3">
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-tapp" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
          Previous
        </div>
        <div class="btn btn-outline-tapp" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div class="btn btn-tapp" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-tapp" (click)="view = 'month'" [class.active]="view === 'month'">
          Month
        </div>
        <div class="btn btn-tapp" (click)="view = 'week'" [class.active]="view === 'week'">
          Week
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 ml-3 mr-3 mb-3">
    <div class="col-lg-12">
      <div [ngSwitch]="view">
        <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events">
        </mwl-calendar-week-view>
      </div>
    </div>
  </div>
</div>