/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~font-awesome/css/font-awesome.css";

.jumbotron{
  border: 1px solid #e65c00;
}

.navbar-dark{
  border-bottom: 2px solid #e65c00;
}

.navbar-links{
    padding-left: 50px 
}

.navbar-heading{
    padding-left: 10px;
    border-bottom: #e65c00;
}

.list-group-item-action{
    cursor: pointer;  
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #e65c00;
    border-color: gray;
    
  }

  .list-group-item {
    position: relative;
    display: block;
    padding: 0.75rem 0.75rem;
    margin-bottom: -1px;
    background-color:lightgray;
    border: 1px solid #e65c00;
  }

  .list-group-item-action:hover, .list-group-item-action:focus {
    color: #495057;
    text-decoration: none;
    color: #fff;
    background-color: #ff751a;
  }

  .team-member-list{
    max-height: 600px;
    margin-bottom: 10px;
    overflow:scroll;
  }

  .btn-tapp {
    color: #fff;
    background-color: #e65c00;
    border-color: #e65c00;
  }
  
  .btn-tapp:hover {
    color: #fff;
    background-color: #ff751a;
    border-color: #ff751a;
  }
  
  .btn-tapp:focus, .btn-tapp.focus {
    box-shadow: 0 0 0 0.2rem rgba(129, 23, 27, 0.5);
  }
  
  .btn-tapp.disabled, .btn-tapp:disabled {
    color: #fff;
    background-color: #ff751a;
    border-color: #ff751a;
  }

  .btn-outline-tapp {
    color: #e65c00;
    background-color: transparent;
    background-image: none;
    border-color: #e65c00;
  }
  
  .btn-outline-tapp:hover {
    color: #fff;
    background-color: #ff751a;
    border-color: #ff751a;
  }
  
  .btn-outline-tapp:focus, .btn-outline-tapp.focus {
    box-shadow: 0 0 0 0.2rem #ff751a;
  }
  
  .btn-outline-tapp.disabled, .btn-outline-tapp:disabled {
    color: #e65c00;
    background-color: transparent;
  }

  .table-dark {
    color: #fff;
    background-color: #343a40;
  }

  .table-dark th,
  .table-dark td,
  .table-dark thead th,
  .table-dark tbody + tbody {
    border-color: #e65c00;
  }

  .table th,
  .table td,
  .table thead th,
  .table tbody + tbody {
    border-color: #e65c00;
  }

  .custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
  }
  .custom-day.focused {
    background-color: #e6e6e6;
  }
  .custom-day.range, .custom-day:hover {
    background-color: #e65c00;
    color: white;
  }
  .custom-day.faded {
    background-color: rgba(237,140,76, 0.5);
  }

  .link-style {
      cursor:pointer;
      color:blue;
  }

  .env-select {
    cursor:pointer;
}