<div class="container mt-5" *ngIf="isDataLoaded">
  <div class="row mb-3">
    <div class="col-md-3">
      <input [(ngModel)]="searchText" class="form-control mr-sm-2" type="search" placeholder="Search"  aria-label="Search">
    </div>
    <div class="col-md-1">
      <button class="btn btn-success" (click)="addTeamMember()"> 
        <i class="fa fa-plus"></i> Add </button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-danger" (click)="confirmDeleteTeamMember()">
        <i class="fa fa-trash"></i> Delete</button>
    </div>
    <div class="col-sm-1">
      <button class="btn btn-primary ml-3" (click)="updateTeamMember()">
        <i class="fa fa-edit"></i> Update</button>
    </div>
    <div class="col-md-5 ml-5">
      <label *ngIf="alertVisible" class="alert alert-success">{{alertText}}</label>
    </div>
  </div>
  
  <div class="row">
    <div class="col-3">
      <ul class="list-group team-member-list">
        <a *ngFor="let employee of employees | filter : searchText" class="list-group-item list-group-item-action" (click)="selectEmployee(employee)" [ngClass]="{active: isSelected(employee)}">
          <b>{{employee.NAME}} {{employee.SURNAME}} </b>
        </a>
      </ul>
    </div>
    <div class="col-9">
      <div class="jumbotron">
        <form>
          <h4 style="padding-bottom: 10px;">
            <b>{{selectedEmployee.NAME}} {{selectedEmployee.SURNAME}}</b>
          </h4>
          <div class="form-group">
            <h5>
              <b>Cell: </b> {{selectedEmployee.CELL}}</h5>
            <h5>
              <b>Email: </b> <a href="mailto:{{selectedEmployee.EMAIL}}">{{selectedEmployee.EMAIL}}</a></h5>
            <h5>
              <b>Ext: </b> {{selectedEmployee.EXT}}</h5>
            <h5>
              <b>User ID: </b> {{selectedEmployee.USERID}}</h5>
            <h5>
              <b>Birthday: </b> {{selectedEmployee.BDAY}}</h5>
            <h5>
              <b>Next of Kin: </b> {{selectedEmployee.KIN}}</h5>
            <h5>
              <b>Number: </b> {{selectedEmployee.KINNUMBER}}</h5>
            <h5>
              <b>Laptop: </b> {{selectedEmployee.LAPTOP}}</h5>
            <h5>
              <b>3G: </b> {{selectedEmployee.G_MODEM}}</h5>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>