<div class="jumbotron">
  <header class="masthead text-center text-green d-flex">
    <div class="container my-auto">
      <div class="row mt-5">
        <div class="col-lg-10 mx-auto">
          <h1>
            <strong>Team APPlication</strong>
          </h1>
          <hr style="background-color:green;">
        </div>
        <div class="col-lg-8 mx-auto">
          <h3 class="text-faded mb-5">Team contact information, System links and team status</h3>
        </div>
      </div>
    </div>
  </header>
</div>